.table {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 150px;
}

tr {
	cursor: pointer;
}

.modal-body {
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.modal-footer .btn-group {
	margin-top: 30px;
}

.progress-header {
	float: left;
	width: 45%;
	text-align: right;
	margin-right: 15px;
}

.progress {
	margin-top: 15px;
}

p b {
	margin-right: 6px;
}
